@tailwind base;
@tailwind components;
@tailwind utilities;

/* Supreme */
@font-face {
  font-family: 'Supreme';
  src: url('/fonts/Supreme-Regular.woff2') format('woff2'),
    url('/fonts/Supreme-Regular.woff') format('woff'),
    url('/fonts/Supreme-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* Technor */
@font-face {
  font-family: 'Technor';
  src: url('/fonts/Technor-Semibold.woff2') format('woff2'),
    url('/fonts/Technor-Semibold.woff') format('woff'),
    url('/fonts/Technor-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

a {
  @apply font-technor transition hover:text-secondary-300 hover:dark:text-secondary-100;
}
